<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Zoo Dog (Popular DOGS)
  </h1>
  
</div>

<ul>
  <li *ngFor = "let perro of ListaPerros">
 <a [routerLink]="['perro',perro.puesto]">{{perro.puesto}},{{perro.raza}}
 </a>

  </li>
</ul>
<router-outlet></router-outlet>

<input size="150px" #comentario>
<button (click)='AgregarComentario(comentario.value)'>Agregar Comentario</button>
<br>
<h5>Comnentarios</h5>
<ul>
  <li *ngFor = "let comentario of comentarios ">
    {{comentario.comentario}}
  </li>


</ul>
